<h1><%= @bar.name %></h1>
<p>
  <%= @bar.address %>
</p>
<br>
<% @leaderboard.first(3).each do |key, value| %>
  <% user = User.find_by(name: key) %>
  <%= link_to key, user_path(user) %>: <%= value %><br>
<% end %>
